.works-box {
  width: 100%;
  height: 700px;
  padding-top: 50px;
  padding-left: 120px;
  margin-bottom: 50px;
  border-bottom: 1px solid rgba(238, 238, 238, 0.1);
}

@media (max-width: 480px) {
  .works-box {
    width: 100%;
    height: auto;
     padding-left: 0px;
     align-items: center;
     justify-content: center;
     padding-bottom: 20px;
  }
}

.works-text {
  width: 100%;
  display: flex;
  align-items: center;
}

@media (max-width: 480px) {
  .works-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.works-text h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 96px;
  color: white;
}


@media (max-width: 480px) {
  .works-text h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 66px;
    color: white;
    text-align: center;
  }
}

.categories-text {
  width: 100%;
  display: flex;
  gap: 20px;
  display: none;
}

@media (max-width: 480px) {
  .categories-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: none;
  }
}

.categories-text li {
  width: 100px;
  height: 47px;
  background: rgba(57, 62, 70, 0.5);
  backdrop-filter: blur(4px);
  border-radius: 24px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

.img-categories {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  gap: 30px;
}

@media (max-width: 480px) {
  .img-categories {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    gap: 30px;
  }
}

.category-box {
  width: 368px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(57, 62, 70, 0.5);
  backdrop-filter: blur(2px);
 
}

.category-box img{
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover 100%;
}

.mySwiperWork {
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.work-slide{
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-size: cover;
}

.pages-links{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  background: rgba(57, 62, 70, 0.5);
}


.pages-links i{
  color: white;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 480px) {
  .work-slide{
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
  }
}


.work-slide img {
  display: block;
  width: 100%;
  height: 100%;
  aspect-ratio: 3/2;
  object-fit: cover 100%;
}

