nav {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid rgba(238, 238, 238, 0.1);
  z-index: 10;
  position: fixed;
  background: #222831;
  padding: 20px 60px;
}

@media (max-width: 480px) {
  nav {
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgba(238, 238, 238, 0.1);
    z-index: 10;
    position: fixed;
    background: none;
    position: relative;
    padding: 10px 10px;
  }
}

.nav-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 480px) {
  .nav-desktop {
    display: none;
  }
}

nav p {
  color: white;
}

nav div {
  display: flex;
  gap: 48px;
  justify-content: center;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 18px;
}

.menu-mobile {
  display: none;
}

@media (max-width: 480px) {
  .menu-mobile {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 28px;
    padding: 5px;
    color: white;
    cursor: pointer;
  }
}

.activeMenu {
  width: 100%;
  height: 100vh;
  background: #222831;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  
}

.desactivedMenu {
  display: none;
}

.close {
  font-size: 34px;
  color: red;
  font-weight: bold;
  cursor: pointer;
}

.list-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-menu a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}
